/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Body styles */
body {
  background: #f9f9f9;
  font-family: "Cambria";
  color: #000000;
}

/* Button styles */
button {
  border: 0;
  background: transparent;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
  font-size: 16px;
}

/* Navigation menu */
.navigation-menu {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 0 16px; /* Padding for larger screens */
}

/* Overlay for mobile */
.navigation-menu__overlay {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition: 0.3s;
}

body.open .navigation-menu__overlay {
  visibility: visible;
  opacity: 1;
}

/* Hamburger menu icon */
.hamburger-menu {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 30px;
}

#close-icon {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

/* Site identity logo */
.site-identity-logo {
  margin: 0;
  cursor: pointer;
  font-size: 1.3rem;
  background-color: #ffffff;
  color: #27b4b4;
  text-align: left; /* Center the text */
  width: 100%; /* Make it full width in mobile view */
  margin-left: 50px; /* Margin for larger screens */
  padding-left: 40px; /* Padding for larger screens */
}

.site-identity-logo:hover {
  color: #09048c;
}

/* Navigation menu labels */
.navigation-menu__labels {
  font-size: 1.1rem;
  position: fixed;
  visibility: hidden;
  z-index: 3;
  top: 50px;
  left: 0;
  width: 50%;
  height: auto;
  padding: 20px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: flex-start;
  background: #ffffff;
  transition: transform 0.3s;
  transform: translateX(-100%);
}

.navigation-menu__labels:hover {
  color: #27b4b4;
}

@media only screen and (min-width: 768px) {
  .navigation-menu__labels {
    position: static;
    top: 0;
    transform: translateX(0);
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }
  .site-identity-logo {
    margin-left: 0; /* Reset margin for larger screens */
    padding-left: 0; /* Reset padding for larger screens */
    text-align: left; /* Reset text alignment for larger screens */
    width: auto; /* Reset width for larger screens */
  }
  .material-icons {
    padding: 0;
    background-color: white;
  }
}

body.open .navigation-menu__labels {
  transform: translateX(0);
  visibility: visible;
}

/* Links and buttons within navigation menu labels */
.navigation-menu__labels a,
.navigation-menu__labels button {
  font-size: 1.1rem;
  color: #000000;
  background: transparent;
  padding: 0 8px;
}

.navigation-menu__labels button.active,
.navigation-menu__labels a.active {
  color: inherit;
}

/* Modified styles for active class */
.active {
  position: relative;
  color: #fd4766;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 0.2rem solid #34b7a7; /* Change border color for active bar */
  width: 0;
  transition: all 0.3s ease-in-out;
}

.active:hover::before {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
/* Add border below menu items on hover */
.navigation-menu__labels a:hover {
  position: relative;
  color: #fd4766;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}
/* Links and buttons within navigation menu labels */
.navigation-menu__labels .link {
  font-size: 1.1rem;
  color: #000000;
  background: transparent;
  padding: 0 8px;
  position: relative;
  transition: opacity 0.3s; /* Add transition property for smooth opacity change */

  /* Add the following styles for hover effect */
  &:hover {
    opacity: 0.8; /* Change the opacity on hover */
  }
}
@media only screen and (min-width: 768px) {
  .site-identity-logo {
    margin-left: 150px; /* Margin for larger screens */
    padding-left: 150px; /* Padding for larger screens */
    text-align: left; /* Reset text alignment for larger screens */
    width: auto; /* Reset width for larger screens */
  }
}
