/* Variables */
:root {
  --white: #ffffff;
  --gray: #777777;
  --dark-gray: #333333;
  --border: #dadada;
}

/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: var(--dark-gray);
}

.about {
  margin-top: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.containerSelf {
  text-align: center;
}

.containerSecond {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}

.img {
  flex: 1;
}

.img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.content {
  flex: 2;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: var(--white);
}

.content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content p {
  margin-bottom: 10px;
}

.details {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.details div {
  background-color: var(--white);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details div p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Third section */

.profile-card {
  background-color: var(--white);
  border: 1px solid var(--border);
  border-radius: 4px;
  max-width: 400px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
  display: flex;
}

.profile-card sapn {
  font-size: 24px;
  color: var(--dark-gray);
  margin-bottom: 10px;
}

.profile-card h2 {
  font-size: 18px;
  color: var(--dark-gray);
  margin-bottom: 10px;
}

.profile-card p {
  font-size: 14px;
  color: var(--gray);
  margin-bottom: 5px;
}

.left-side {
  flex: 1;
}

.right-side {
  flex: 2;
  margin-left: 20px;
}

.personalInformation {
  display: flex;
  justify-content: space-between;
}

.personalInformationLeft {
  text-align: center;
}

.personalInformationRight {
  text-align: center;
}

/* Media query for tablets and mobile devices */
@media (max-width: 768px) {
  .containerSelf {
    text-align: left;
  }

  .img {
    width: 100%;
  }

  .profile-card {
    flex-direction: column;
  }

  .left-side,
  .right-side {
    flex-wrap: wrap;
  }

  .personalInformation {
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }

  .details div {
    padding: 10px;
  }

  .About_containerSelf span,
  .About_containerSelf h2 {
    font-size: 0; /* Hide the headings */
    letter-spacing: 0;
    font-weight: 0;
  }
}

/* Add these styles to your CSS file */
.progressBarMain {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Add some top margin for spacing */
}

.progressBar {
  display: flex;
  flex-wrap: wrap;
  width: 80%; /* Adjust the width based on your preference */
  max-width: 600px; /* Set a maximum width to control the size */
  margin: 0 auto; /* Center the progress bar */
  background-color: #f0f0f0; /* Add a background color for contrast */
  padding: 20px; /* Add padding for better visual appearance */
  border-radius: 10px; /* Add rounded corners */
}

.progressBarHalf {
  flex: 1;
  box-sizing: border-box;
  margin: 8px;
}

/* Media query for mobile view */
@media only screen and (max-width: 767px) {
  .progressBar {
    flex-direction: column;
  }
}

/* Media query for smaller tablets */
@media only screen and (max-width: 600px) {
  /* .site-identity-logo {
    width: 10rem; 
  } */

  .hamburger-menu {
    padding-top: 20px;
    position: absolute;
  }
  .containerSecond > .img {
    position: absolute;
    /* padding-left: 100px; */
    width: 50% !important;
    display: inline-block;
  }
  .containerSecond {
    position: relative;
    width: 100%;
  }
  .containerSelf > h2 {
    text-align: center;
  }
  .content {
    margin-top: 150px;
  }

  button {
    margin-top: 10px;
  }
  .navigation-menu {
    height: 60px;
  }
  .containerSelf {
    margin-left: 20px;
  }
  .containerSelf > p {
    word-wrap: break-word;
  }
  .progressBarMain {
    margin-bottom: 30px;
  }
}

/* Media query for larger tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .About_containerSelf > span,
  .About_containerSelf h2 {
    font-size: 0; /* Hide the headings for larger tablets */
    letter-spacing: 0;
    font-weight: 0;
  }
  .Navbar_site-identity-logo {
    width: 800px !important;
  }
}
