/* Modified styles for active class */
.active {
  position: relative;
  color: rgb(255, 0, 179) !important; /* Updated color to RGB(255, 0, 179) */
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 0.1rem solid rgb(255, 0, 179) !important; /* Updated border color to RGB(255, 0, 179) */
  width: 0;
  transition: all 0.3s ease-in-out;
}

.active:hover::before {
  width: 100%;
  transition: width 0.3s ease-in-out;
}
